#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

body{
  background: url(/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgb(16, 16, 90);
}
