.entry{
    display:flex;
    flex-direction: column;
}
.name{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.name > * {
    padding-right: 30px;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
}
.title-img{
    width: 80px;
}
.individual-scores{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width:95%;
    font-size: 28px;
    padding: 8px 0px 30px 0px;
}
.uniScore{
    color: rgb(223, 12, 12);
}
.kukiScore{
    color: rgb(2, 191, 197);
}
.daScore{
    color: rgb(17, 192, 17);
}